# Standalone files
.env
.workspace.yaml

# Generated folders:
output/
repo/
reports/
src/helpers/temp.dbml

# Node modules:
node_modules/
.pnpm-lock.yaml

# Input folders:
yaml-files/

# Other
debug_requests.json