# Standalone files
.env
workspace.yaml

# Config files
xcc.config.js
xcc.test.setup.json

# Generated folders:
output/
repo/
reports/
src/helpers/temp.dbml
/registry/

# Node modules:
node_modules/
pnpm-lock.yaml

# Input folders:
yaml-files/
oas.json

# Other
dist/
debug_requests.json
.VSCodeCounter/
project-plan.md
